body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 26px 0;
}

h3 {
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

ul, ol {
    margin: 0;
    padding: 0 0 0 24px;
}

p {
    margin: 0 0 7px 0;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: #0060a0;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,96,160,.2);
}

td, th {
    padding: 0;
}

section {
    margin: 26px 0 52px 0;
}

.site-container {
    margin: 0 100px;
}

.site-header {
    margin-top: 52px;
}

.site-header__resume-link {
    color: inherit;
    border-bottom-width: 2px;
}

.intro-text {
    max-width: 600px;
}

.back-color--life {
    background-color: #fed;
}

.back-color--people {
    background-color: #def;
}

.back-color--creativity {
    background-color: #ede;
}

.back-color--gtd {
    background-color: #efc;
}

.back-color--writing {
    background-color: #fdd;
}

.back-color--code {
    background-color: #ddf;
}

.back-color--design {
    background-color: #dfd;
}

.back-color--things {
    background-color: #ffd;
}

.back-color--health {
    background-color: #cec;
}

.back-color--planning {
    background-color: #eee;
}

.back-color--more {
    background-color: #fec;
}

.back-color--wow {
    background-color: #cfe;
}

.chapter-list {
    width: 100vw;
    margin-left: -100px;
    padding: 0 100px;
    max-width: 600px;
}

.chapter-list__item {
    display: inline-block;
    height: 26px;
    color: inherit;
    border: 0;
    padding: 0 12px;
    margin: 0;
}

.chapters {
    width: 100vw;
    margin-left: -100px;
    margin-top: 78px;
}

.chapter {
    padding: 52px 100px 52px;
    margin: 0;
}

.chapter-half-container-table {
    height: 1px;
    width: 100%; 
    border: none;
    border-spacing: 0; 
    border-collapse: collapse;
}

.chapter--inhalf {
    height: 100%;
}

.chapter__title {
    margin-top: 0;
}

.chapter__title-info {
    vertical-align: top;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 12px;
    margin-left: 16px
}

.chapter__title-info--life {
    color: #ba9;
    border: 1px solid #ba9;
    border-radius: 4px;
}

.chapter__title a {
    border: 0;
    color: inherit;
}

.chapter__table {
    border-spacing: 0;
    border-collapse: collapse;
}

.chapter__td-left {
    vertical-align: top;
    padding-bottom: 26px;
    width: 30%;
}

.chapter__td-right {
    vertical-align: top;
    padding-bottom: 26px;
    padding-left: 30px;
}

.chapter__td-full {
    padding-bottom: 26px;
}

.site-footer {
    margin: 52px 0 78px;
}

.site-footer__version {
    display: inline;
    color: #bbb;
}

.site-footer__container {
    float: right;
}

.site-footer__link {
    color: #bbb;
    margin-left: 12px;
}
