body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 26px 0;
}

section {
    margin: 52px 0;
}

.site-container {
    margin: 0 64px;
}

.site-header {
    margin-top: 78px;
}

.site-header__resume-link {
    color: inherit;
}

.site-header__status {
    padding: 6px 12px;
    margin-left: 16px;
    vertical-align: top;
    font-size: 12px;
    border: 1px solid #000;
    font-weight: normal;
}

.intro-text {
    margin-top: 26px;
    max-width: 600px;
}

.back-color--life {
    background-color: #fed;
}

.back-color--people {
    background-color: #def;
}

.back-color--creativity {
    background-color: #ede;
}

.back-color--gtd {
    background-color: #dfd;
}

.back-color--writing {
    background-color: #fdd;
}

.back-color--code {
    background-color: #ddf;
}

.back-color--design {
    background-color: #eee;
}

.back-color--things {
    background-color: #eed;
}

.back-color--health {
    background-color: #efe;
}

.back-color--planning {
    background-color: #ddd;
}

.back-color--more {
    background-color: #fcc;
}

.back-color--wow {
    background-color: #ccf;
}

.chapter-list {
    width: 100vw;
    margin-left: -64px;
    padding: 0 64px;
    max-width: 600px;
}

.chapter-list__item {
    display: inline-block;
    height: 26px;
    color: inherit;
    text-decoration: none;
    padding: 0 12px;
    margin: 0;
}

.chapters {
    width: 100vw;
    margin-left: -64px;
}

.chapter {
    padding: 52px 64px;
    padding-bottom: 26px;
    margin: 0;
}

.chapter__title {
    margin-top: 0;
}

.chapter__table {
    border-spacing: 0;
    border-collapse: collapse;
}

.chapter__td-left {
    vertical-align: top;
    padding-bottom: 25px;
    width: 35%;
}

.chapter__td-right {
    vertical-align: top;
    padding-bottom: 25px;
    padding-left: 20px;
}

.site-footer {
    margin: 56px 0;
}


.site-footer__container {
    float: right;
}

.site-footer__link {
    color: #bbb;
    margin-left: 8px;
}
